body {
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-light);
  color: var(--text-dark);
  line-height: 1;
}

body,
a,
button {
  font-family: "Manrope", sans-serif;
}

main {
  min-height: 100vh;
  margin: 0 auto;
}

p {
  margin: unset;
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  max-width: 1280px;
  padding-left: 10px;
  padding-right: 10px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.mobile-hidden {
  display: none;
}

.tablet-hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mobile-hidden {
    display: unset;
  }
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .tablet-hidden {
    display: unset;
  }
  .desktop-hide {
    display: none;
  }
  .container {
    padding-left: 75px;
    padding-right: 75px;
  }
}
