.section-about .about-image {
  margin-bottom: 8px;
}

.section-about .about-author {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.section-about .about-description {
  font-size: 1rem;
  line-height: 1.25;
}

@media only screen and (min-width: 768px) {
  .section-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .section-about .about-author {
    font-size: 1.5rem;
  }
  .section-about .about-description {
    font-size: 1.25rem;
  }
  .section-about .about-text {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .section-about .about-text .section-title {
    font-size: 1.5rem !important;
    margin-bottom: 16px;
    font-weight: 700;
  }
}
