.section-banner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-banner .banner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-banner .banner-author {
  font-size: 1rem;
}

.section-banner .banner-position {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-primary);
}

.section-banner .banner-description {
  font-size: 0.875rem;
  line-height: 1.25;
}

.section-banner .banner-image {
  min-width: 165px;
  min-height: 158px;
}

.banner-buttons {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px) {
  .section-banner .banner-text {
    justify-content: center;
  }
  .section-banner .banner-author .prefix {
    font-size: 1.25rem;
  }
  .section-banner .banner-author {
    font-size: 2rem;
  }
  .section-banner .banner-position {
    font-size: 2.5rem;
    margin: 20px 0;
  }
  .section-banner .banner-description {
    font-size: 1.25rem;
  }
  .section-banner .banner-image {
    min-width: 222px;
    min-height: 140px;
  }
}

@media only screen and (min-width: 1200px) {
  .section-banner .banner-position {
    font-size: 3.9rem;
    font-weight: 400;
  }
  .section-banner .banner-description {
    margin-bottom: 50px;
  }
  .section-banner .banner-image {
    min-width: 522px;
    min-height: 440px;
  }
  .section-banner .banner-buttons a {
    border-radius: 20px;
    padding: 20px 40px;
    min-width: 202px;
    font-size: 20px;
  }
}
