.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-light);
  z-index: 10;
}

.header .menu-nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header {
    position: relative;
    margin: 0 auto;
  }
  .header .menu-nav {
    display: block;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .header .menu-nav .nav-item {
    color: var(--text-dark);
    padding: 15px 40px;
    font-size: 20px;
    border: 1px solid transparent;
  }
  .header .menu-nav .nav-item:hover {
    background-color: #95cbf120;
    border: 1px solid var(--border-primary);
    border-radius: 20px;
  }
}
