@import url("./header.css");
@import url("./banner.css");
@import url("./about.css");
@import url("./skills.css");
@import url("./footer.css");
@import url("./side-menu.css");

.section-container {
  margin: 10px 0;
  padding: 10px 0;
}

.section-title {
  font-size: 1.25rem;
  color: var(--text-dark);
  font-weight: 700;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
  }
}
